$clr:#00887a;

nav{
    background-color: rgb(255, 255, 255);
    padding: 5px 40px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $clr;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;

    > div:nth-child(2){
        width: 40%;
        display: flex;
        justify-content: space-between;

        >input{
            border: none;
            outline: none;
            width: 65%;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #00887a12;
            font-size: 0.9rem;
            color: $clr;

            &:focus{
                border: none;
                outline: none;
            }
        }

        >button{
            border: 0;
            padding: 11px 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            background-color: $clr;
            color: rgb(255, 255, 255);
            cursor: pointer;
            >svg{
                margin-right: 5px;
            }
        }
    }
}
